[submodule "CPU-2026-Benchmark"]
	path = CPU-2026-Benchmark
	url = https://github.com/ACMClassCourse-2025/CPU-2026-Benchmark.git
[submodule "testcases"]
	path = testcases
	url = https://github.com/ACMClassCourse-2025/RISC-V-CPU-2026-Testcases.git
